body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
}

.search-container {
    margin: 20px 0;
}

button {
    padding: 10px;
    background: orange;
    border: none;
    cursor: pointer;
}

.poster {
    width: 200px;
}

ul {
    list-style: none;
    padding: 0;
}
